---
---

<a href="/" class="flex items-center" aria-label="Sing for Hope Home">
  <img
    src="/logo.svg"
    alt="Sing for Hope"
    class="h-8 w-auto sm:h-10"
    width="120"
    height="40"
  />
</a>
